!.gitkeep

i3/.i3/i3log
i3/.i3/config
i3/.config/gtk-3.0/bookmarks

vim/.vim/plugged/*/
!vim/.vim/bundle/Vundle.vim/
vim/.vim/tmp/
vim/.vim/.netrwhist

xneur/.xneur/.cache/
xneur/.xneur/languages/
xneur/.xneur/xneurlog.html

**/fonts/*/.uuid
